<h1> Homepage </h1>


<h1> Posts</h1>
  <hr>
   <% (Post.all).each do |p| %>
   <div class="post container">
   <h3 class="post-title">
     <%=p.title %>
   </h3>
    <p class="post-body">
     <%=p.body%>
    </p>
    <h4>
     <% if user_signed_in? %>
     Author of the post -
     <%= User.find(p.user_id).username %>
     <% end %>
    </h4>
   </div>
   <% end %>
